*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    color:#1f487c;
}
h1{
    text-align: center;
    margin: 30px;
}
hr{
    width: 90%;
    display: inline-block;
    margin-left: 5%;
}
.taskList{
    border-collapse: collapse;
    position: relative;
    margin: 30px auto;
    max-width: 950px;
}

.taskList thead tr td{
    background: #2d75c8;
    color:white;
}
.taskList thead tr td span{
    color:white;
    display: none;
}
.taskList  tr:nth-child(2n) td,
.taskList  tr:nth-child(2n) select{
    background: #b9d8ff;
    color:#2d75c8;
}
.taskList .headName,
.taskList .headDate{
    cursor: pointer;
    min-width: 160px;
}
.taskList td{
    border:1px solid #505050;
    padding: 20px;
    position: relative;
    max-width: 300px;
    min-width: 100px;
}

.taskList .date{
    padding-right: 25px;
}
span.correct{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right:0;
    top:0;
    font-size: 20px;
    cursor: pointer;
}
.taskList .status:active{
    background: none;
    border:none;
}


.modal{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,0.6);
}
.addTask{
    min-width: 300px;
    margin: 30px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

}
.addTask #taskName{
    padding:15px;
    border:1px solid #505050;
    display:inline-block;
}
.addTask #taskDesc{
    padding:15px;
    border:1px solid #505050;
    display:inline-block;
}
.addTask #taskDate{
    padding:15px;
    border:1px solid #505050;
}
.addTask .addButton{
    background: none;
    outline: none;
    border:1px solid #505050;
    padding: 15px;
    cursor:pointer;
}
.addTask .addButton:disabled{
    cursor: not-allowed;
}

@media (max-width: 900px) {
    .taskList tr{
        display: flex;
        flex-direction: column;
    }
    .taskList thead{
        display: none;
    }
}