*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    color: #152e52;
}
body{
    min-height: 100vh;
}
h1{
    text-align: center;
    margin: 30px;
}
hr{
    width: 90%;
    display: inline-block;
    margin-left: 5%;
}
.taskList{
    border-collapse: collapse;
    position: relative;
    margin: 30px auto;
    max-width: 950px;
}

.taskList thead tr td{
    background: #152e52;
    color:white;
    border-color:white;
}
.taskList thead tr td span{
    color:white;
    display: none;
}
.taskList  tr:nth-child(2n) td,
.taskList  tr:nth-child(2n) select{
    background: #1f487c;
    color:#fff;
    border-color:white;
}
.taskList  tr:nth-child(2n) td span.correct{
    color:white;
}
.taskList  tr:nth-child(2n) td span.was_changed{
    background: white;
    color:red;
}
.taskList .headName,
.taskList .headDate{
    cursor: pointer;
    min-width: 160px;
}
.taskList td:first-child{
    border-left-color: transparent;
}
.taskList td:last-child{
    border-right-color: transparent;
}
.taskList td{
    border:1px solid #505050;
    padding: 20px;
    position: relative;
    max-width: 300px;
    min-width: 100px;
}

.taskList .date{
    padding-right: 25px;
}
span.correct{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right:0;
    top:0;
    font-size: 20px;
    cursor: pointer;
}
.taskList .status:active{
    background: none;
    border:none;
}
.taskList .was_changed{
    color:red;
    font-size: 10px;
    display:block;
    position: absolute;
    top:1px;
    right:1px;
    padding: 3px;
    border:1px solid red;
}

.modal{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,0.6);
}
.addTask{
    min-width: 300px;
    margin: 30px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

}
.addTask #taskName{
    padding:15px;
    border:1px solid #505050;
    display:inline-block;
    margin: 5px;
    outline: none;
    min-width: 300px;
}
.addTask #taskDesc{
    padding:15px;
    border:1px solid #505050;
    display:inline-block;
    margin: 5px;
    outline: none;
    min-width: 300px;
}
.addTask #taskDesc::placeholder{

}
.addTask #taskDate{
    padding:15px;
    border:1px solid #505050;
    margin: 5px;
    outline: none;
    min-width: 300px;
    background: white;
}
.addTask .addButton{
    background: none;
    outline: none;
    border:1px solid #505050;
    padding: 15px;
    cursor:pointer;
    margin: 5px;
}
.addTask .addButton:disabled{
    cursor: not-allowed;
}

@media (max-width: 900px) {
    .taskList tbody{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .taskList tr{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .taskList tr:before{
        content: 'Справа';
        text-align: center;
        padding: 5px;
    }
    .taskList tr td{
        min-width: 300px;
    }
    .taskList tr td:nth-child(1):before{
        content: "Ім'я";
        font-size: 12px;
        position: absolute;
        display: block;
        width: 15px;
        left: 0;
        top:0;
        height: 100%;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        text-align: center;

    }
    .taskList tr td:nth-child(2):before{
        content: 'Статус';
        font-size: 12px;
        position: absolute;
        display: block;
        width: 15px;
        left: 0;
        top:0;
        height: 100%;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        text-align: center;

    }
    .taskList tr td:nth-child(3):before{
        content: 'Справа';
        font-size: 12px;
        position: absolute;
        display: block;
        width: 15px;
        left: 0;
        top:0;
        height: 100%;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        text-align: center;

    }
    .taskList tr td:nth-child(4):before{
        content: 'Дата';
        font-size: 12px;
        position: absolute;
        display: block;
        width: 15px;
        left: 0;
        top:0;
        height: 100%;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        text-align: center;

    }
    .taskList td:first-child{
        border-left-color: inherit;
    }
    .taskList td:last-child{
        border-right-color: inherit;
    }
    .taskList thead{
        display: none;
    }
    .addTask{
    }
}